*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    font-family: ' Roboto', sans-serif;
    background: url('../img/desktop-1920x1080.jpg ');
    
    
}

/* NAVEGADOR TITULO/ ENSAMBLES INICIO SESION ETC.. */

nav{
    height: 70px;
    width: 100%;
    background: rgb(1,0,6);
    background: linear-gradient(134deg, rgba(1,0,6,1) 0%, rgba(83,0,92,1) 49%, rgba(185,16,223,1) 100%); 
    backdrop-filter: blur(30px);
    flex-wrap: wrap;
}
.nav{
    display: flex;
}
.titulo{
    position: absolute;
    z-index: 30;   
}
.titulo h1{
    font-weight: 1000;
    color: antiquewhite;
    padding: 10px;
    margin: 0 0 0 5%;
    
}
 .categoria{
    height: 70px;
    margin-left: 40%;
    width: 60%;
    padding: 25px 0 0 0; 

}
.categoria a{
    flex-wrap: wrap;
    text-decoration: none;
    color: beige;
    font-weight: 700;
    padding: 10px;
    margin: 10px 0 0 0 ;
    border-radius: 20px;
}
.categoria a:hover{
    background-color: antiquewhite;
    color: black;
    transition: all ease-in-out .7s;
}

/*CONTENEDOR DE MEJOR PRODUCTO IMAGENES, DESCRIPCION ETC.. */

.contenedor{
    width: 100%;
    margin: 50px 0 ;
    height: 500px;
    backdrop-filter: blur(7px);
    display: flex;
}
.contenedor .producto{
    height: 480px;
    width: 90%;
    margin: 10px 0 20px 5%;
    background: rgb(157,63,251);
    background: linear-gradient(180deg, rgba(157,63,251,1) 0%, rgba(213,70,252,0.9444152661064426) 100%);
    border-radius: 30px;   
}

.producto .titulocont h1{
  color: antiquewhite;
  font-weight: 900;
  text-align: center;
  margin: 2% 0 0 0;
  padding: 0 0 12px 0 ;
  font-size: 2.6em;
}

.producto .imag {
    display: flex;
    height: 20%;
    height: 360px;
    background: none;
}
.imag img{
     width: 40%;
     height: 360px;
     border-radius: 30px 0 0 30px;
     
}
.description{
display: flex;
flex-wrap: wrap;
background-color: azure;
border-radius: 0 30px 30px 0;
height: 360px;
width: 55%;
}
.description h1{
    font-weight: 800;
    color: rgb(0, 0, 0);
    font-size: large;
    border-radius: 20px;
    padding: 25px 0 0 35px ;
}
.description img{
    width: 25%;
    border-radius: 30px;
    height: 100px;
    margin: 12px 0 0 15px ;
   padding: 5px;
}

.description img:hover{
    transform: scale(1.2);
    transition: all ease-in-out .4s;
}
.description p{
    color: rgb(126, 126, 126);
    font-weight: 500;
    padding: 0 0 0 35px;
}

.description  h6{
    
    width: 50%;
    color: rgb(255, 0, 0);
    font-size: medium;
    font-weight: 900;
    padding: 0 0 0 35px;
    align-items: center;
}

.description button{
    background-color: blueviolet;
    color: antiquewhite;
    height: 30px;
    width: 40%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.description button:hover{
    color: black;
    background-color: rgb(218, 179, 255);
    
    transition: all ease-in-out .6s;
}

/*PRODUCTOS DE TODO TIPO */

.conteprod{
    background-color: rgb(255, 255, 255);
    height: 800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);

}
.conteprod h1{
    color: rgb(255, 255, 255);
    height: 40px;
    width: 130%;
    margin-left: 35%;
    padding: 20px 0 0 0 ;
    font-weight: 900;
    
}
.contenidoproduc{
    display: flex;
    flex-wrap: wrap;

}
.contenidoproduc .pccomp{
    background-color: aliceblue;
    width: 30%;
    height: 340px;
    margin: 0 20px 0 20px;
    border-radius: 30px;
}

.pccomp img{
    width: 70%;
    height: 220px;
    margin: 5% 0 0 38px;
    padding: 0 0 0 40px;
}

.pccomp h3{
    color: rgb(0, 0, 0);
    font-weight: 800;
    padding: 0 0 0 20px ;
    font-size: 1.0em;
}
.pccomp h4{
    color: #ff1212;
    font-weight: 900;
    padding: 0 0 0 20px ;
    
}
.pccomp button{
    background: rgb(192,115,255);
    background: linear-gradient(53deg, rgba(192,115,255,1) 0%, rgba(160,61,250,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    border-radius: 20px;
    font-weight: 700;
    height: 35px;
    width: 180px;
    border: none;
    cursor: pointer;
    margin: 0 0 0 27%;
}

.pccomp button:hover{
    transition: all ease-in-out .7s;
    transform: scale(1.05);
    background: rgb(255,65,126);
    background: linear-gradient(53deg, rgba(255,65,126,1) 0%, rgba(132,41,235,1) 100%);
}
.pccomp img:hover{
    transform: scale(1.04);
    transition: all ease-in-out .5s;
}



/* CONTENEDOR DE PRODUCTOS MAS PUNTUADOS*/

.contenedorpun{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
    background: url('../img/fondodesvanecido.png');
    background-size:contain;
    background-position: right;
    background-repeat:no-repeat;	
}
.puntua{
    
    height: 500px;
    width: 30% ;
    backdrop-filter: blur(10px);
}
.puntua p {
    color: azure;
    font-weight: 600;
    padding: 15px 0 0 30px;
    font-size: 3.0em;
}
.puntua button{
    color: rgb(255, 255, 255);
    border: none;
    font-weight: 600;
    border-radius: 30px;
    height: 35px;
    width: 320px;
    margin: 30px 0 0 30px;
    cursor: pointer;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
.puntua button:hover{
    transition: all ease-in-out .7s;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    color: rgb(255, 255, 255);
}
/* FOOTER*/

footer{
    width: 100%;
    height: 250px;
    background: rgb(0,15,96);
    background: linear-gradient(90deg, rgba(0,15,96,0.639093137254902) 0%, rgba(60,44,111,0.5550595238095238) 100%);
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
}

.footerpart {
    width: 30%;
    height: 250px;
    display: block;
    
}
.redes{
    display: block;
    

}
.footerpart .redes h3{
    color: aliceblue;
    font-weight: 900;
    padding: 10px;
    margin: 5px;
}
.footerpart .redes h4{
    padding: 10px ;
    margin: 5px;
    font-weight: 600;
    color: antiquewhite;
}
.footerpart .ubicacion h3{
    color: aliceblue;
    padding: 10px;
    margin: 5px;
    font-weight: 900;
    

}
.ubicacion h4{
    color: aliceblue;
   
}
.ubicacion h5{
    color: aliceblue;
    margin: 30px 30px 0 0;
    padding: 30px 30px 0 0;
}
.correo h3{
    color: aliceblue;
    padding: 20px;
    font-weight: 800;
}
.correo h4{
    padding: 17px;
    color: aliceblue;
}
